 Archivos de Obsidian
.trash/
.obsidian/

# Los ejercicios van a otro repositorio
**/_ejercicios/
/PGRMC/UT2/Triangulo/nbproject/private/
/PGRMC/UT2/Triangulo/build/
/PGRMC/UT2/Compra/nbproject/private/
/PGRMC/UT2/Compra/build/
/PGRMC/UT2/MediaNotas/nbproject/private/
/PGRMC/UT2/MediaNotas/build/
/PGRMC/UT2/DescomponerNumero/nbproject/private/
/PGRMC/UT2/DescomponerNumero/build/
/PGRMC/UT2/DescomponerNumero/dist/
/PGRMC/UT2/MediaNotas/dist/
/PGRMC/UT2/TiempoDescarga/nbproject/private/
/PGRMC/UT2/TiempoDescarga/build/
/PGRMC/UT2/TiempoDescarga/dist/
/PGRMC/UT2/TiD/nbproject/private/